.box.box-beautiful
  overflow hidden
  background-color white
  box-shadow 0px 2px 12px rgba(68, 0, 4, 0.1)
  border-radius 8px
  position relative

.box.box-beautiful.box-border
  &::before
    content ''
    position absolute
    height 8px
    right 0
    bottom 0
    bottom 0
    width 30%
    background #ffb571

  &::after
    content ''
    position absolute
    height 8px
    left 0
    bottom 0
    width 70%
    background #554BB9

.box.box-tiny
  width 6px
  height 6px  

.bg-primary-gradient
  background linear-gradient(90deg, #610289 0.01%, #A9148A 52%, #E9006D 100%) !important

.bg-primary
  background-color color-primary !important

.bg-secondary
  background-color color-secondart !important

.bg-success
  background-color color-success

.bg-danger
  background-color color-danger

.bg-warning
  background-color color-warning

.bg-purple-fog
  background-color purple-fog

.bg-grey-whisper
  background-color grey-whisper !important

.bg-tutu-rose
  background-color tutu-rose !important

.bg-rose-pink
  background-color rose-pink !important