
.btn.btn-secondary.dropdown-toggle
  background red-milano
  border none !important

.el-dropdown-menu.el-dropdown-menu-beautiful
  padding 0px

  .el-dropdown-menu__item
    border-bottom 1px solid #ccc

.b-nav-dropdown.dropdown-outline
  .dropdown-item.active, .dropdown-item:active
    background-color initial
    color initial
