/* vietnamese */
@font-face
  font-family 'Sarabun'
  font-style normal
  font-weight 400
  src local('Sarabun Regular'), local('Sarabun-Regular'), url('~static/fonts/Sarabun-400-vietnamese2.woff2') format('woff2')
  unicode-range U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB

/* latin-ext */
@font-face
  font-family 'Sarabun'
  font-style normal
  font-weight 400
  src local('Sarabun Regular'), local('Sarabun-Regular'), url('~static/fonts/Sarabun-400-latin-ext3.woff2') format('woff2')
  unicode-range U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face
  font-family 'Sarabun'
  font-style normal
  font-weight 400
  src local('Sarabun Regular'), local('Sarabun-Regular'), url('~static/fonts/Sarabun-400-latin4.woff2') format('woff2')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

/* vietnamese */
@font-face
  font-family 'Sarabun'
  font-style normal
  font-weight 500
  src local('Sarabun Medium'), local('Sarabun-Medium'), url('~static/fonts/Sarabun-500-vietnamese6.woff2') format('woff2')
  unicode-range U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB

/* latin-ext */
@font-face
  font-family 'Sarabun'
  font-style normal
  font-weight 500
  src local('Sarabun Medium'), local('Sarabun-Medium'), url('~static/fonts/Sarabun-500-latin-ext7.woff2') format('woff2')
  unicode-range U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face
  font-family 'Sarabun'
  font-style normal
  font-weight 500
  src local('Sarabun Medium'), local('Sarabun-Medium'), url('~static/fonts/Sarabun-500-latin8.woff2') format('woff2')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

/* vietnamese */
@font-face
  font-family 'Sarabun'
  font-style normal
  font-weight 600
  src local('Sarabun SemiBold'), local('Sarabun-SemiBold'), url('~static/fonts/Sarabun-600-vietnamese10.woff2') format('woff2')
  unicode-range U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB

/* latin-ext */
@font-face
  font-family 'Sarabun'
  font-style normal
  font-weight 600
  src local('Sarabun SemiBold'), local('Sarabun-SemiBold'), url('~static/fonts/Sarabun-600-latin-ext11.woff2') format('woff2')
  unicode-range U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face
  font-family 'Sarabun'
  font-style normal
  font-weight 600
  src local('Sarabun SemiBold'), local('Sarabun-SemiBold'), url('~static/fonts/Sarabun-600-latin12.woff2') format('woff2')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

/* vietnamese */
@font-face
  font-family 'Sarabun'
  font-style normal
  font-weight 700
  src local('Sarabun Bold'), local('Sarabun-Bold'), url('~static/fonts/Sarabun-700-vietnamese14.woff2') format('woff2')
  unicode-range U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB

/* latin-ext */
@font-face
  font-family 'Sarabun'
  font-style normal
  font-weight 700
  src local('Sarabun Bold'), local('Sarabun-Bold'), url('~static/fonts/Sarabun-700-latin-ext15.woff2') format('woff2')
  unicode-range U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face
  font-family 'Sarabun'
  font-style normal
  font-weight 700
  src local('Sarabun Bold'), local('Sarabun-Bold'), url('~static/fonts/Sarabun-700-latin16.woff2') format('woff2')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face
  font-family 'Open Sans'
  font-style normal
  font-weight 400
  font-display swap
  src local('☺'), url('~static/fonts/Open+Sans_400_normal.woff') format('woff'), url('~static/fonts/Open+Sans_400_normal.ttf') format('truetype'), url('~static/fonts/Open+Sans_400_normal.svg#Open+Sans_400_normal') format('svg') /* http://fonts.gstatic.com/l/font?kit=mem8YaGs126MiZpBA-UFVZ0c&skey=62c1cbfccc78b4b2&v=v15#OpenSans */ // fonts.gstatic.com/l/font?kit=mem8YaGs126MiZpBA-UFVZ0c&skey=62c1cbfccc78b4b2&v=v15#OpenSans */

@font-face
  font-family 'Open Sans'
  font-style normal
  font-weight 600
  font-display swap
  src local('☺'), url('~static/fonts/Open+Sans_600_normal.woff') format('woff'), url('~static/fonts/Open+Sans_600_normal.ttf') format('truetype'), url('~static/fonts/Open+Sans_600_normal.svg#Open+Sans_600_normal') format('svg') /* {{svg-gf-url}} */

@font-face
  font-family 'Open Sans'
  font-style normal
  font-weight 700
  font-display swap
  src local('☺'), url('~static/fonts/Open+Sans_700_normal.woff') format('woff'), url('~static/fonts/Open+Sans_700_normal.ttf') format('truetype'), url('~static/fonts/Open+Sans_700_normal.svg#Open+Sans_700_normal') format('svg') /* {{svg-gf-url}} */

@font-face
  font-family 'SF UI Display'
  font-style normal
  font-weight 400
  font-display swap
  src local('☺'), url('~static/fonts/SF-UI-Display-Regular.woff') format('woff'), url('~static/fonts/SF-UI-Display-Regular.ttf') format('truetype'), url('~static/fonts/SF-UI-Display-Regular.svg#SF-UI-Display-Regular') format('svg') /* {{svg-gf-url}} */

@font-face
  font-family 'SF UI Display'
  font-style normal
  font-weight 600
  font-display swap
  src local('☺'), url('~static/fonts/SF-UI-Display-Semibold.woff') format('woff'), url('~static/fonts/SF-UI-Display-Semibold.ttf') format('truetype'), url('~static/fonts/SF-UI-Display-Semibold.svg#SF-UI-Display-Semibold') format('svg') /* {{svg-gf-url}} */

@font-face
  font-family 'SF UI Display'
  font-style normal
  font-weight 700
  font-display swap
  src local('☺'), url('~static/fonts/SF-UI-Display-Bold.woff') format('woff'), url('~static/fonts/SF-UI-Display-Bold.ttf') format('truetype'), url('~static/fonts/SF-UI-Display-Bold.svg#SF-UI-Display-Bold') format('svg') /* {{svg-gf-url}} */

@font-face
  font-family 'Roboto'
  font-weight: normal;
  font-style: normal;
  src local('☺'), url('~static/fonts/Roboto.woff') format('woff'), url('~static/fonts/Roboto.ttf') format('truetype'), url('~static/fonts/Roboto.svg') format('svg') /* {{svg-gf-url}} */



/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752FD8Ghe4.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752HT8Ghe4.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752Fj8Ghe4.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752Fz8Ghe4.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752GT8G.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752FD8Ghe4.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752HT8Ghe4.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752Fj8Ghe4.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752Fz8Ghe4.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752GT8G.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752FD8Ghe4.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752HT8Ghe4.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752Fj8Ghe4.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752Fz8Ghe4.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752GT8G.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752FD8Ghe4.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752HT8Ghe4.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752Fj8Ghe4.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752Fz8Ghe4.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752GT8G.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752FD8Ghe4.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752HT8Ghe4.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752Fj8Ghe4.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752Fz8Ghe4.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752GT8G.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752FD8Ghe4.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752HT8Ghe4.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752Fj8Ghe4.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752Fz8Ghe4.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~static/fonts/TK3iWkUHHAIjg752GT8G.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face
  font-family 'Oswald-New'
  font-style normal
  font-weight 400
  font-display swap
  src local('☺'), url('~static/fonts/Oswald-Regular.woff') format('woff'), url('~static/fonts/Oswald-Regular.ttf') format('truetype'), url('~static/fonts/Oswald-Regular.svg#Oswald-Regular') format('svg') /* {{svg-gf-url}} */

@font-face
  font-family 'Oswald-New'
  font-style normal
  font-weight 600
  font-display swap
  src local('☺'), url('~static/fonts/Oswald-SemiBold.woff') format('woff'), url('~static/fonts/Oswald-SemiBold.ttf') format('truetype'), url('~static/fonts/Oswald-SemiBold.svg#Oswald-SemiBold') format('svg') /* {{svg-gf-url}} */

@font-face
  font-family 'Oswald-New'
  font-style normal
  font-weight 700
  font-display swap
  src local('☺'), url('~static/fonts/Oswald-Bold.woff') format('woff'), url('~static/fonts/Oswald-Bold.ttf') format('truetype'), url('~static/fonts/Oswald-Bold.svg#Oswald-Bold') format('svg') /* {{svg-gf-url}} */
