hr.hr-custom
  border-color color-primary
  border-width 2px

.hr-primary-gradient
  height 1px
  background linear-gradient(90deg, #610289 0.01%, #A9148A 52%, #E9006D 100%)

.hr-moon-raker
  height 1px
  background-color moon-raker