// medium
.margin-bottom
  margin-bottom 16px !important

.margin-top
  margin-top 16px !important

// small
.margin-top-small
  margin-top 8px !important

.margin-right-small
  margin-right 8px !important

.margin-left-small
  margin-left 8px !important
  
.margin-bottom-small
  margin-bottom 8px !important

// semi big
.margin-bottom-semi-big
  margin-bottom 24px !important

// big
.margin-top-big
  margin-top 28px !important

// huge
.margin-top-huge
  margin-top 48px !important

.margin-bottom-huge
  margin-bottom 48px !important