.modal-dialog.modal-captcha.modal-dialog-centered
  width 309px
  margin 0 auto

.modal-backdrop
  opacity 0.6 !important

.modal-beautiful
  .modal-dialog
    min-width max-content

  .modal-header
    padding 14px 28px
    font-weight bold
    color pickled-bluewood
    font-size font-size-big

  .modal-body
    // max-height 650px
    // padding 24px 28px
    padding 14px 28px 23px 28px
    font-weight 600
    color pickled-bluewood
    overflow-y auto
    overflow-x hidden

  .modal-footer
    // padding 0px 28px 30px 28px
    padding 0px 16px 15px 16px 
    border none

    .btn.btn-secondary
      width 90px
      height 35px
      margin-right 8px

    .btn.btn-primary
      // width 150px
      // height 35px
      margin-left 8px

    .btn.btn-primary:hover, &:focus
      background #3685FC
      color white

    .btn.btn-primary.btn-blue:hover, &:focus
      background linear-gradient(0deg, #2A8BFF, #44B7FF)
      // border-color white !important
  
.modal-beautiful .modal-dialog.modal-sm
  max-width 260px

.modal-beautiful .modal-content 
  border-radius 8px
  .modal-header
    font-weight bold
    font-size 20px
    color #532A94
    font-family Oswald
    text-transform uppercase
    border-bottom 0px
    padding-top 20px
    font-size 32px
    .close 
      margin 0
      padding 0
      margin-top 0px
      margin-right -5px
    span
      margin auto


@media mobile
  .modal-dialog
    width 320px
    margin 0 auto

  .modal-beautiful 
    .modal-dialog
      max-width 320px
      min-width auto

    .modal-body
      max-height 500px

.uploadBg
  .modal-header
    font-size 18px !important
  .modal-body
    padding 0 0 23px 0

.compare-table
  .modal-content
    width 892px
    .modal-body
      padding-top 22px
.upgradeModal
  .modal-content
    width 892px
    .modal-header
      padding-bottom 0
    .modal-body
      padding-top 0

.reviewUpdateSchool
  .modal-content 
    width 700px
    @media mobile
      width auto
.referralCode
  .modal-header
    padding-bottom 5px