.pagination.beowulf
  font-weight 600

  .page-link
    color red-milano

  .page-item.active .page-link,
  .page-link:hover .page-link
    color white
    background-color red-milano
    border-color red-milano
    

  .page-item:not(.active) .page-link:hover
    color red-milano
    cursor pointer

