.full-screen-popover.el-popper
  margin-bottom 0px  !important
  border-radius 8px 8px 0 0

.price.el-popper
  margin-top 4px
  border-radius 0
  border none
  .el-select-dropdown__list
    padding 0
    .el-select-dropdown__item
      line-height 36px
      height 36px
    .el-select-dropdown__item.hover, .el-select-dropdown__item.selected
      background #554BB9
      color white
  .popper__arrow
    display none