// .container
  // background-color blue-lighter
  // > .ql-editor-container
  //   height 100%
  //   padding 30px 0
  //   letter-spacing 0.08em

    .ql-editor
      font-family 'SF UI Display'
      font-weigth bold
      letter-spacing 0.08em
      line-height 32px

      .text-primary:not(h1)
        color pickled-bluewood !important

      p
        line-height @line-height
      
      img
        max-width 100%

      // strong
      //   font-family Sarabun-Bold
      //   font-style normal
      //   font-weight 700
      //   font-size 22px
      //   line-height 1.5

      ol
        counter-reset list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9
        padding-inline-start 15px

      ol li
        list-style-type none
        counter-increment list-0
        counter-reset list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9

        &:before
          content counter(list-0, decimal) '. '

        &.ql-indent-1
          counter-increment list-1
          counter-reset list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9

          &:before
            display inline-block
            white-space nowrap
            width 1.2em
            content counter(list-1, lower-alpha) '. '

          &:not(.ql-direction-rtl)
            // padding-left 4.5em
            padding-top 5px
            padding-bottom 5px

        &.ql-indent-2
          counter-reset list-3 list-4 list-5 list-6 list-7 list-8 list-9
          counter-increment list-2

          &:before
            content counter(list-2, lower-roman) '. '

          &:not(.ql-direction-rtl)
            padding-left 1.5em

      // ol 
      //   li:not(.ql-indent-1) ~ li.ql-indent-1
      //     padding-top 15px