.el-rate-beautiful.el-rate
  line-height 0px

  .el-rate__icon
    font-size 48px
    margin-right 4px

  .el-rate__icon.el-icon-star-off
    color #E2DFFF !important

    // &:before
    //   content '\E637'
    