.scroll-bar::-webkit-scrollbar
  width 6px
  background-color rgba(163, 188, 235, 0.5)
  overflow-y overlay

.scroll-bar::-webkit-scrollbar-thumb
  border none
  background-color rgba(51, 95, 226, 0.6)

.scroll-bar.scroll-bar--grey::-webkit-scrollbar
  width 9px
  background-color rgba(#9d9d9d, 0.1)

.scroll-bar.scroll-bar--grey::-webkit-scrollbar-thumb
  border 1px solid white
  background-color rgba(#9d9d9d, 0.8)
  border-radius 6px


.scroll-bar.scroll-bar-beautiful
  &::-webkit-scrollbar
    width 6px
    background transparent

  &::-webkit-scrollbar-thumb
    background-color rgba(#554BB9, 0.8)
    border-radius 6px