.slider.slider-beautiful
  .swiper-pagination
    left 0
    right 0
    margin-left auto
    margin-right auto
  .swiper-pagination-bullet
    width 12px
    height 12px
    transform none !important
    margin-left 5px
    margin-right 5px
    background: white
    opacity 1
    @media (max-width: 767px)
      width 8px
      height 8px
  .swiper-pagination-bullet-active
    width 12px
    height 12px
    background  #610289
    @media (max-width: 767px)
      width 8px
      height 8px

.el-slider__button-wrapper
  -moz-user-select -moz-none
  -khtml-user-select none
  -webkit-user-select none
  -ms-user-select none
  user-select none

.fan-slider
  .el-slider__button 
    border-color #610289
  .el-slider__bar
    background-color #610289
