.el-switch-beautiful 
  .el-switch__core
    height 28px
    border-radius 50px

    &:after
      top 50%
      transform translateY(-50%)
      width 26px !important
      height 26px
  
  &.is-checked .el-switch__core:after
    margin-left -27px !important