.text-smalleer
  font-size 10px !important

.text-smaller
  font-size 11px !important

.text-small
  font-size font-size-small !important

.text-ssmall
  font-size font-size-normal !important

.text-medium
  font-size font-size-big !important

.text-smedium
  font-size font-size-big !important

.text-hight
  font-size font-size-huge !important

.text-shight
  font-size font-size-shuge !important

.text-sshight
  font-size font-size-sshuge !important

.text-normal
  font-weight 400

.text-semi-bold
  font-weight 600

.text-danger
  color orange-persimmon !important

.text-success
  color green-jungle !important

.text-warning
  color yellow-salomie !important

.text-muted.text-muted--light
  color grey-nepal !important

.text-wrap
  white-space nowrap !important
  overflow hidden
  text-overflow ellipsis
  display block

.text-break-all
  word-break break-all
  white-space pre-line

.font-weight-semi-bold
  font-weight 600 !important

a.no-decoration
  text-decoration none
  &:hover
    text-decoration underline

.text-primary-gradient
  background linear-gradient(90deg, #610289 0.01%, #A9148A 52%, #E9006D 100%)
  -webkit-background-clip text
  -webkit-text-fill-color transparent

.text-primary
  color color-primary !important

.text-danger
  color orange-persimmon !important

.text-success
  color green-jungle !important

.text-warning
  color color-warning !important

.text-muted
  color color-muted !important

.text-white
  color white !important

.text-blue
  color blue-dodger !important

.text-black
  color blue-pickled-bluewood !important

.text-purple
  color #610289 !important

.text-purple-2 
  color #532A94 !important

.text-rose
  color rose-pink !important

.text-oswald
  font-family 'Oswald-New'

.text-sarabun
  font-family Sarabun

.font-weight-600
  font-weight 600 !important

.docline
  white-space pre-line
  word-break break-word

.threedoc
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

.threedoc2line
  word-break break-word
  display -webkit-box
  -webkit-line-clamp 2
  -webkit-box-orient vertical
  overflow hidden

.threedoc5line
  word-break break-word
  display -webkit-box
  -webkit-line-clamp 5
  -webkit-box-orient vertical
  overflow hidden


.fade-enter-active {
  transition: opacity .5s
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

