.clickable
  cursor pointer

.link-custom
  color azure-radiance
  text-decoration underline

.pointer-events-none
  pointer-events none

.noselect
  user-select none

.not-allowed
  cursor not-allowed !important

.min-height-inherit
  min-height inherit !important