blue-pickled-bluewood = #283E50
grey-mercury = #E5E5E5
grey-nepal = #93AABD
grey-link-water = #D4E1F4
grey-silver = #C4C4C4
grey-porcelain = #F4F6F7
grey-silver-second = #BCBCBC
grey-alabaster = #FAFAFA
grey-mercury = #E8E8E8
grey-whisper = #F6F1F9
orange-old-lace = #FDF5EA
orange-double-pearl-lusta = #FCE9D3
orange-sunshet = #FD4E34
orange-sunset = #FA543F
orange-persimmon = #FF5C5C
orange-carnation = #554BB9
orange-chardonnay = #FFC888
green-jungle = #27AE60

color-tamarillo = #861014
red-amaranth = #E83F53
red-milano = #BB070C
red-pomegranate = #EB3722
red-mexican = #B52126
red-cinnabar = #EA4A49
red-bittersweet = #FD6767
red-mandy = #E9515C
red-carnation = #554BB9
red-cinnabar = #EA4444
alizarin-crimson = #E02F2F
milano-red = red-milano
oasis-cream = #FDE9CD
lavender-blush-pink = #FFF0F6
provincial-pink = #FEF3F2
brink-pink = #FD7285
pippin-pink = #FFE2E6
cosmos-pink = #FFD6D6
fair-pink = #FFEBE6
mandy-pink = #E8505B
chablis-pink = #FFF2F2
rose-pink = #E9006D
kashmir-blue = #4F718C
blue-dodger = #2A8BFF
grey-mercury = #E5E5E5
pickled-bluewood = #283E50
wild-sand = #F6F6F6
grey-gray = #8F8F8F
grey-gray-second = #919191
gray-dusty = #969696
gray-dove = #676767
gray-slate = #6F7D90
bermuda-gray = #7890AC
athens-gray = #F8F9FB
grey-alto = #CFCFCF
grey-gallery = #EFEFEF
grey-concrete = #F3F3F3
grey-mercury = #E4E4E4
grey-gallery = #F0F0F0
grey-gallery = #EDEDED
grey-nobel = #B0A8A8
grey-boulder = #7A7A7A
grey-silver = #B8B8B8
grey-alto = #D2D2D2
double-pearl-lusta = #FCE9D3
green-jungle = #27AE60
green-peppermint = #E0F6E0
green-shamrock = #4AD893
green-emerald = #45DB69
green-malachite = #11C062
green-eucalyptus = #28B446
nile-blue = #17394C
blue-alice = #F5FAFF
blue-oxford = #32394C
blue-dodger = #3685FC
blue-onahau = #D0E4FE
blue-wild-yonde = #7B90B8
blue-anakiwa = #A0CAFF
blue-periwinkle = #C2DBFF
blue-pattens = #D7E7FE
blue-science = #035CE1
blue-malibu = #8AB9FF
blue-denim = #144EDD
blue-denim = #154FDE
blue-ribbon = #2956FF
blue-royal = #393AF4
blue-dark = #0506B5
blue-ribbon = #1B58EE
blue-chalk = #F5E3FF
azure-radiance=#0094FF
grey-bali-hai = #8CA0B3
white-catskill = #DDE7EF
white-catskill-second = #F7F9FB
white-zumthor = #EDF4FF
white-rose = #FFF7F7
grey-alabaster = #F8F8F8
purple-malibu = #8280FF
purple-fog = #E2DFFF
daisy-bush = #554BB9
texas-rose = #FFB85A
tutu-rose = #FFF0FA
yellow-serenade = #FFF4E6
yellow-salomie = #FFDA93
yellow-candlelight = #FFCC17
titan-white = #E9E7FF
granny-apple = #DBF7E8
roof-terracotta = #B62025
black-tundora = #4A4A4A
black-haiti = #100C32
black-emperor = #555555
black-ebony = #0D0C22
black-scorpion = #5F5F5F
black-shark = #303031
san-marino = #4167B2
mountain-meadow = #16C05F
sliver-chalice = #A5A5A5
violet-eggplant = #A9148A
moon-raker = #E4C9F4

color-danger = red-amaranth
color-success = green-jungle
color-warning = yellow-amber
color-muted = grey-bali-hai
color-primary = daisy-bush
color-secondary = violet-eggplant