// Variables
steps-width= 100%;

circle-diameter= 10px;        // dependent on counter font-size
circle-border-width= 10px; // dependent on counter font-size
line-width= 1px;            // dependent on counter font-size